@page
@using InterportCargo.Web.Pages.Auth
@model RegisterCustomerModel
@{
    ViewData["Title"] = "Register Customer";
}
<h1 class="mb-4">Register Customer</h1>
<p>Placeholder. Form to be implemented per T2.</p>