@page
@using InterportCargo.Web.Pages.Quotation;

@model RequestModel
@{
    ViewData["Title"] = "Request Quotation";
}

<h1 class="mb-4">Request Quotation</h1>
<p>Template for Requesting a Quotation</p>