@page
@using InterportCargo.Web.Pages.Auth
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1 class="mb-4">Login</h1>

<form>
    <!-- Email -->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p class="text-muted mt-3">Don't have an account yet?
  <a href="/Auth/Register">Register here</a>
</p>